//main scss file
@import "globals";
@import "variables";
@import "buttons";

* {
    font-family: 'Montserrat';
    font-size: 16px;
    color: $dark;
}

body {
    margin: 0;
    background-color: $background;
}

header {
    max-height: 120px;
    padding: 0 20px;
    width: 100%;

    nav {
        max-width: 1200px;
        padding: 20px;
        margin: auto;

        .logo {
            width: 200px;

        }

        ul {
            float: right;
            list-style: none;
            padding: 0;
            overflow: hidden;

            li {
                float: left;
                font-size: 1.5rem;

                a {
                    display: block;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
            }
        }

    }
}

#hero {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 5rem;

        span {
            font-size: 5rem;
            color: $second;
        }
    }

    h2 {
        font-size: 2rem;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;


    img {
        float: left;
    }

    ul {
        float: right;
    }
}